<li class="location-category">
  <h3 class="type" role="heading" aria-level="3">{{type}}</h3>
  <ul class="locations-list">
    {{#each location}}
      <li class="vcard location">
        <a href="{{url}}" class="name url org fn">{{name}}</a>
        <div class="note">
          <p class="detail">{{detail}}</p>
          <p class="extra">{{extra}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</li>