<li class="session{{#unless duration}} open{{/unless}}"{{#unless break}} id="{{slug}}"{{/unless}}>
  <div class="session-wrapper">
  {{#if break}}
    <header class="break">
      <div class="time">{{start}} &mdash; {{end}}</div>
      <h3 class="title" role="heading" aria-level="3">{{#noorphan title}}{{.}}{{/noorphan}}</h3>
    </header>
  {{/if}}

  {{#unless break}}
    <header class="session-header">
      {{#if duration}}<div class="time">{{start}} &mdash; {{end}}</div>{{/if}}
      <h3 class="title" role="heading" aria-level="3">{{#noorphan title}}{{.}}{{/noorphan}}</h3>
      {{#if speaker.name}}<div class="speaker">{{speaker.name}}</div>{{/if}}
    </header>

    <div class="description-wrapper">
      {{#if description}}
        {{#markdown}}{{description}}{{/markdown}}
      {{/if}}

      {{#if bio}}
        <div class="bio">
          {{#markdown}}{{bio}}{{/markdown}}
        </div>
      {{/if}}
    </div>

    {{#if speaker.photo}}
    <div class="mugshot">
      <img src="/images/speakers/{{speaker.photo}}">
    </div>
    {{/if}}

    {{#if links}}
    <div class="links-wrapper">
      <div class="links">
        {{#if speaker.twitter}}
          <a class="button" href="http://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>
        {{/if}}

        {{#if slides}}
          <a class="button" href="{{slides}}">Download Slides</a>
        {{/if}}

        {{#if audio}}
          <a class="button" href="{{audio}}">Audio</a>
        {{/if}}

        {{#if video}}
          <a class="button" href="{{video}}">Video</a>
        {{/if}}
      </div>
    </div>
    {{/if}}
  {{/unless}}
  </div>
</li>