<section class="session">

  {{#if break}}
    <header>
      <span class="time">{{startTime}}</span>
      <h3 class="title" role="heading" aria-level="3">{{title}}</h3>
    </header>
  {{/if}}

  {{#unless break}}
    <header>
      <span class="time">{{startTime}}</span>
      <h3 class="title" role="heading" aria-level="3">{{title}}</h3>
      <span class="name">{{speaker.name}}</span>
    </header>

    {{#if description}}
      <p class="description">
        {{description}}
      </p>
    {{/if}}

    {{#if details}}
      <p class="details">
        {{details}}
      </p>
    {{/if}}

    {{#if speaker.photo}}
    <div class="mughot">
      <img src="{{speaker.photo}}">
    </div>
    {{/if}}

    <div class="links">
      {{#if speaker.twitter}}
        <a class="button" href="http://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>
      {{/if}}

      {{#if slides}}
        <a class="button" href="{{slides}}">Download Slides</a>
      {{/if}}

      {{#if audio}}
        <a class="button" href="{{audio}}">Audio</a>
      {{/if}}

      {{#if video}}
        <a class="button" href="{{video}}">Video</a>
      {{/if}}
    </div>
  {{/unless}}

</section>