{{#if sponsors.full.length}}
<section class="monty full-monty">
  <h3 class="type" role="heading" aria-level="3">Full Monty Sponsors</h3>
  {{#each sponsors.full}}
    <div class="sponsor-wrapper">
      <section class="sponsor">
        <a href="{{url}}" class="logo">
          <img src="/images/sponsors/{{img}}">
        </a>
        <div class="blurb">
          {{#markdown}}{{blurb}}{{/markdown}}
        </div>
      </section>
    </div>
  {{/each}}
</section>
{{/if}}

{{#if sponsors.half.length}}
<section class="monty half-monty">
  <h3 class="type" role="heading" aria-level="3">Half Monty Sponsors</h3>
  {{#each sponsors.half}}
    <section class="sponsor-wrapper">
      <a href="{{url}}" class="sponsor">
        <img class="logo"src="/images/sponsors/{{img}}">
      </a>
    </section>
  {{/each}}
</section>
{{/if}}

{{#if sponsors.small.length}}
<section class="monty small-monty">
  <h3 class="type" role="heading" aria-level="3">Small Monty Sponsors</h3>
  {{#each sponsors.small}}
    <section class="sponsor-wrapper">
      <a href="{{url}}" class="sponsor">
        <img class="logo" src="/images/sponsors/{{img}}">
      </a>
    </section>
  {{/each}}
</section>
{{/if}}

{{#if sponsors.available}}
<section class="monty half-monty">
  <h3 class="type" role="heading" aria-level="3">Want to sponsor?</h3>
    <section class="sponsor-wrapper">
      <a href="/sponsorship" class="sponsor">
        <img class="logo" src="/images/sponsors/sponsor.gif">
      </a>
      <p><a href="/sponsorship">Find out how to sponsor</a></p>
    </section>
</section>
{{/if}}