<section class="workshop" id="{{id}}">
  {{#if speaker.photo}}
    <div class="mugshot">
      <img src="/images/speakers/{{speaker.photo}}">
    </div>
  {{/if}}
  <header>
    <div class="speaker">{{speaker.name}}</div>
    <h3 class="title" role="heading" aria-level="3">{{title}}</h3>
  </header>
  <p class="description">
    {{description}}
  </p>
  <a class="button buy" href="#">Buy Tickets</a>
  <a class="button sold-out" href="#">Sold Out</a>
</section>