<div class="workshop-wrapper">
<section class="workshop" id="{{slug}}">
  {{#if speaker.photo}}
    <div class="mugshot" style="background-image: url(/images/speakers/{{speaker.photo}})">
      <img src="/images/speakers/{{speaker.photo}}">
    </div>
  {{/if}}
  <header>
    <div class="speaker">{{speaker.name}}</div>
    <h3 class="title" role="heading" aria-level="3">{{title}}</h3>
  </header>
  <p class="description">
    {{description}}
  </p>
  {{! note: due to an issue in node hbs, settings isn't available here, so it's always false }}
  {{#if settings.onsale}}
    {{#if soldout}}
      <a href="/workshop/{{slug}}" class="button sold-out" href="/workshop/{{slug}}">Sold Out</a>
    {{else}}
      <a class="button buy" href="/workshop/{{slug}}">Buy Tickets</a>
    {{/if}}
  {{else}}<a class="button buy" href="/workshop/{{slug}}">Find out more</a>{{/if}}

</section>
</div>