
{{> header}}

{{#each workshops}}
<div id="{{slug-pullout}}" class="workshop-pullout">
  <header class="masthead" role="banner">

    <nav class="extrabold" role="navigation">
      <a href="#">x</a>
      <a href="#"><</a>
      <a href="#">></a>
    </nav>

    <h1 class="logo" role="heading" aria-level="1">{{title}}</h1>

    <div class="details">
      With {{speaker.name}}<br>
      Conference pass included
    </div>

    <div class="tickets">
      <a href="{{ticket.url}}" class="button buy">Buy Tickets &pound;{{ticket.price}}<span><abbr class="buy-vat" title="plus Value Added Tax">+VAT</abbr></a>
      <a href="{{ticket.url}}" class="button buy">Sold Out</a>
    </div>

  </header>

  <section class="details region alt">
    <h2 class="section-heading" role="heading" aria-level="2">Details</h2>

    {{#if speaker.photo}}
      <div class="mugshot">
        <img src="/images/speakers/{{speaker.photo}}">
      </div>
    {{/if}}

    <ul class="details">
      <li classs"detail date">
        <span class="type">Date</span>
        <span class="">{{details.date}}</span>
      </li>
      <li classs"detail time">
        <span class="type">Time</span>
        <span class="">{{details.time}}</span>
      </li>
      <li classs"detail speaker">
        <span class="type">Teacher</span>
        <span class="">{{spealer.name}}</span>
      </li>
      <li classs"detail venue">
        <span class="type">Venue</span>
        <span class="">{{details.venue}}</span>
      </li>
    </ul>

    {{#if description}}
      <p class="description">
        {{description}}
      </p>
    {{/if}}

    {{#if extendedDescription}}
      <div class="extendedDescription">
        {{extendedDescription}}
      </div>
    {{/if}}

    <h3 class="section-heading" role="heading" aria-level="3">Topics</h3>

    {{#each topics}}
      <div class="topic">
        <span class="title">{{title}}</span>
        <span class="description">{{description}}</span>
      </div>
    {{/each}}

  </section>
{{/each}}

{{> footer}}
